alias gb="git branch"
gbc_function() {
    branch_name="richard/$1" # swap out the prefix with your name
    git checkout -b "$branch_name"
}
delete_merged_branches() {
    for branch in $(git branch | sed 's/\*//'); do
        pr=$(gh pr list --head "$branch" -s closed --json state,number -q '.[] | select(.state=="MERGED" or .state=="CLOSED") | .number')
        if [ ! -z "$pr" ]; then
            echo "Deleting branch $branch as its PR #$pr is merged or closed."
            git branch -d "$branch"
        else
            echo "Branch $branch does not have a merged or closed PR."
        fi
    done
}
kill_process_on_port() {
    if [ -z "$1" ]; then
        echo "Usage: kill_process_on_port <port>"
        return 1
    fi
    local port=$1
    echo "Killing process on port $port..."
    lsof -i tcp:${port} | awk 'NR!=1 {print $2}' | xargs -r kill
    echo "Process on port $port killed (if it was running)."
}
alias gbc="gbc_function" # create branch prefixed by your name 
alias gau="git add -u"
alias gco="git checkout"
alias gcom="git checkout main"
alias gd="git diff"
alias gdc="git diff --cached"
alias gg="git grep"
alias gpre="git pull --rebase"
alias gs="git status"
alias ll="ls -al"
alias gaa="git add ."
alias gpr="gh pr create --template pull_request_template.md"
alias gsa="git add . && git commit -m '.' && git push -u"
alias gp="git push"
alias grs="git checkout main; git pull; delete_merged_branches"
alias uuid="python -c 'import sys,uuid; sys.stdout.write(str(uuid.uuid4()))' | pbcopy && pbpaste && echo"
alias kp="kill_process_on_port"
alias pql="PGPASSWORD='password' psql -h localhost -p 5432 -U postgres -d postgres"
