alias gb="gt branch"
alias gbc="gt branch create -m"
alias gbca="gt branch create -a -m"
alias gco="git checkout"
alias gau="git add -u"
alias gcm="gt commit create -m"
alias gcom="git checkout main"
alias gacm="gt commit create -a -m"
alias gd="gt diff"
alias gdc="gt diff --cached"
alias gg="gt grep"
alias gpr="git pull --rebase"
alias grs="gt repo sync"
alias gs="git status"
alias gss="gt stack submit --publish --no-edit"
alias gls="gt log short"
alias gses="gt stack restack"
alias ll="ls -al"
alias gaa="git add ."
alias gp="git push"
alias diff="diff -u"
alias scalamed="cd ~/medici; sbt 'project api' test:console"
alias mdb="cd ~/medici; PGPASSWORD=postgres psql -h localhost -U postgres -d medici; cd -"
alias dres="cd ~/medici/docker; docker compose down -v && docker compose up -d; cd -"
alias sd="sqitch deploy"
alias uuid="python -c 'import sys,uuid; sys.stdout.write(str(uuid.uuid4()))' | pbcopy && pbpaste && echo"
